body{
    background-color: rgb(255, 255, 255);
}
h1{
    position: absolute;
    padding-left: 2em;
    padding-top: 1em;
}

#BG{
    position: relative;
    height: 10em;
    width: 10em;
    background-color: rgb(240, 99, 81);
    top: 40%;
    left: 45%;
    border-radius: 50%;
    transform: scale(4);
    margin-top: 19em;
}